.loginButton {
    -fx-background-color: #C62C47;
    -fx-prompt-text-fill: #272636;
    -fx-text-fill: #272636;
    -fx-opacity: 0.5;
}

.loginButton:hover {
    -fx-background-color: #272636;
    -fx-prompt-text-fill: #C62C47;
    -fx-text-fill: #C62C47;
    -fx-opacity: 1;
}
.signupButton {
    -fx-background-color: #F2D7D3;
    -fx-prompt-text-fill: #202569;
    -fx-text-fill: #202569;
    -fx-opacity: 0.5;
}

.signupButton:hover {
    -fx-background-color: #202569;
    -fx-prompt-text-fill: #F2D7D3;
    -fx-text-fill: #F2D7D3;
    -fx-opacity: 1;
}
.mainMenuButton {
    -fx-background-color: #D7BDE2;
    -fx-text-fill: #4A235A;
    -fx-opacity: 0.7;
}
.mainMenuButton:hover {
    -fx-background-color: #4A235A;
    -fx-text-fill: #D7BDE2;
    -fx-opacity: 1;
}

.blueButton {
    -fx-background-color: #34495E;
    -fx-text-fill: #3498DB;
    -fx-opacity: 0.7;
}

.blueButton:hover {
    -fx-background-color: #3498DB;
    -fx-text-fill: #34495E;
    -fx-opacity: 1;
}

.profileButton {
    -fx-background-color: #5D6D7E;
    -fx-text-fill: #17202A;
    -fx-prompt-text-fill: #17202A;
    -fx-opacity: 0.7;
}

.profileButton:hover {
    -fx-background-color: #17202A;
    -fx-prompt-text-fill: #5D6D7E;
    -fx-text-fill: #5D6D7E;
    -fx-opacity: 1;
}

.duelStart {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 80%, #34495E, #3498DB);
    -fx-prompt-text-fill: #A93226;
    -fx-text-fill: #A93226;
}

.choice-box {
    -fx-background-color: #34495E;
    -fx-text-fill: #ADD8E6;
    -fx-focus-color: #ADD8E6;
    -fx-faint-focus-color: #ADD8E6;
    -fx-control-inner-background: #34495E;
    -fx-selection-bar: #A93226;
}

.deckMenu {
    -fx-background-image: url("../Images/AnimeGirls3.jpg");
    -fx-background-size: cover;
}

.deckEdit {
    -fx-background-image: url("../Images/fusion.png");
    -fx-background-size: cover;
}

.shopMenu {
    -fx-background-image: url("../Images/AnimeGirls.jpg");
    -fx-background-size: cover;
}

.shopMenu {
    -fx-background-image: url("../Images/AnimeGirls.jpg");
    -fx-background-size: cover;
}

.RPS {
    -fx-background-image: url("../Images/rps.jpg");
    -fx-background-size: cover;
}

.gameMenu {
    -fx-background-image: url("../Images/AnimeGirls4.jpg");
    -fx-background-size: cover;
}

.preGame {
    -fx-background-image: url("../Images/PreGame.jpg");
    -fx-background-size: cover;
}

.gridPane {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.backBlue {
    -fx-background-color: #3498DB;
    -fx-opacity: 0.5;
}

.backBlue:hover {
    -fx-opacity: 1;
}

.backYellow {
    -fx-background-color: #DAF7A6;
    -fx-text-fill: #34495e;
    -fx-opacity: 0.5;
}

.backYellow:hover {
    -fx-opacity: 1;
}
.backLight {
    -fx-background-color:  #D6EAF8;
    -fx-text-fill:  #34495e;
    -fx-opacity: 0.5;
}
.backLight:hover {
    -fx-opacity: 1;
}
.backDarkButton {
    -fx-background-color:  #34495e;
    -fx-text-fill:  #D6EAF8;
    -fx-opacity: 0.5;
}
.backDarkButton:hover {
    -fx-background-color:  #D6EAF8;
    -fx-text-fill:  #34495e;
    -fx-opacity: 1;
}
.importExportMenu {
    -fx-background-image: url("../Images/AnimeGirls2.jpg");
    -fx-background-size: cover;
}

.importVBox {
    -fx-background-image: url("../Images/AnimeGirl2.jpg");
    -fx-background-size: cover;
}
.monsterCreat {
    -fx-background-image: url("../Images/AnimeGirl9.jpg");
    -fx-background-size: cover;
}
.magicCreate {
    -fx-background-image: url("../Images/AnimeGirl10.jpg");
    -fx-background-size: cover;
}
.backLightRed {
    -fx-background-color: #CEADC5;
    -fx-text-fill:  #50003B;
    -fx-opacity: 0.5;
}
.backLightRed:hover {
    -fx-opacity: 1;
}
.backDarkButtonRed {
    -fx-background-color:  #50003B;
    -fx-text-fill: #CEADC5;
    -fx-opacity: 0.5;
}
.backDarkButtonRed:hover {
    -fx-background-color:  #CEADC5;
    -fx-text-fill:  #50003B;
    -fx-opacity: 1;
}
.toggle-button {
    -fx-text-fill: #50003B;
    -fx-cursor: Hand;
    -fx-border-color: #50003B;
    -fx-background-color: #CEADC5;
    -fx-opacity: 0.5;
}
.toggle-button:selected {
    -fx-background-color: #50003B;
    -fx-text-fill: #CEADC5;
    -fx-opacity: 1;
}
.createCard {
    -fx-background-image: url("../Images/AnimeGirl11.jpg");
    -fx-background-size: contain;
}